body *{
    font-family:'Times New Roman', Times, serif;
}
.container {
    background-color:#483C33;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:200px 3fr;
    grid-template-areas:
        "header"
        "body";
    
}
div >.library-container{
    grid-area: body;
    --custom-color:#72541e;
    display:grid;
    grid-template-columns: repeat(auto-fit,280px);
    grid-auto-rows: auto;
    gap:1rem 1rem;
    margin:4rem;
}
div > .library-header{
    grid-area:header;
    justify-self:stretch;
    margin:4rem;
    display:flex;
    justify-content: space-between;
    color:white;
    border-bottom: 2px solid #432e07

}
div > h1 {
    font-size:48px;
}
.library-container > .book-entry{
    background-color:var(--custom-color);
    color:whitesmoke;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    border:none;
    border-radius: 10px;
}
.book-entry > .book-container{
    margin:1rem;
    background-color: #553e15;
    padding:0 2rem 0 2rem;
    border-radius: 5px;
}

.book-entry > .book-info-container{
    display:flex;
    flex-direction: column;
    justify-self: stretch;
    align-content:flex-start;
    margin:1rem;
    gap:10px 10px;
    width:15rem;
}
.book-entry *:not(.title):not(button) {
    font-size:16px;
}
.book-entry > .book-info-container > p:nth-child(1){
    padding-top:1rem;
}
.book-entry > .book-info-container > p:nth-child(3){
    padding-bottom:1rem;
}
.book-entry > .book-container > p{
    font-size:20px;
    white-space:wrap;
    font-weight: bold;
    text-align: center;
}
.book-entry > button{
    background-color:red;
    border:none;
    font-size:20px;
    border-radius: 100%;
    color:white;
    align-self: flex-end;
    margin: 10px 10px 0 0;

}
form > span > input[name="readingStatus"]{
    visibility:hidden;
}
.book-entry > span>button,
div > button{
    margin-bottom:20px;
    font-size:18px;
    border:none;
    border-radius: 20px;
    padding:5px 10px 5px 10px;
    color:white;
    font-weight: bold;
}
.book-entry > .book-container,
.book-entry > span>button,
.book-entry > button,
div > button{
    box-shadow: -2px 2px 5px 2px rgb(0,0,0,0.4);
}
.book-entry > span>button:nth-of-type(1),
div > button{
    background-color:green;
}
.book-entry > span>button:nth-of-type(2){
    background-color:red;
}
.book-entry > button:hover,
.book-entry > span>button:nth-of-type(2):hover{
    background-color:rgba(255, 0, 0, 0.4);
}
.book-entry > button:active,
.book-entry > span>button:nth-of-type(2):active{
    background-color:rgba(116, 1, 1, 0.4);
}
.book-entry > span>button:nth-of-type(1):hover{
    background-color:rgba(0, 128, 0, 0.4);
}
.book-entry > span>button:nth-of-type(1):active,
div > button:active{
    background-color:rgba(1, 91, 1, 1);
}